<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">nlxElasticsearchCronjob</label>
    <label lang="en">nlxElasticsearchCronjob</label>
    <version>1.3.0</version>
    <copyright>(c) by netlogix GmbH &amp; Co. KG</copyright>
    <license>Proprietary</license>
    <link>https://websolutions.netlogix.de/</link>
    <author>netlogix GmbH &amp; Co. KG</author>

    <compatibility minVersion="5.6.0" />

    <changelog version="1.0.0">
        <changes lang="de">Erste Veröffentlichung</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>
    <changelog version="1.0.1">
        <changes lang="de">Den korrekten Namespace benutzen</changes>
        <changes lang="en">Use correct namespace</changes>
    </changelog>
    <changelog version="1.0.2">
        <changes lang="de">Den korrekten cleanup backlog Befehl ausführen</changes>
        <changes lang="en">Use correct command to cleanup backlog</changes>
    </changelog>
    <changelog version="1.0.3">
        <changes lang="de">Falschen Befehl ausbessern</changes>
        <changes lang="en">Patch wrong command</changes>
    </changelog>
    <changelog version="1.1.0">
        <changes lang="de">Feature hinzugefügt, um Anpassungen sofort nach Elasticsearch zu übertragen</changes>
        <changes lang="en">Added feature to push changes instantly to Elasticsearch</changes>
    </changelog>
    <changelog version="1.2.0">
        <changes lang="de">Anpassungen am Artikel gleich nach Elasticsearch übertragen</changes>
        <changes lang="en">Push article changes instantly to Elasticsearch</changes>
    </changelog>
    <changelog version="1.2.1">
        <changes lang="de">Code refactoring</changes>
        <changes lang="en">Code refactoring</changes>
    </changelog>
    <changelog version="1.3.0">
        <changes lang="de">Fehlerbehandlung im Cronjob hinzugefügt</changes>
        <changes lang="en">Add error handling in cronjob</changes>
    </changelog>
</plugin>
