<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.7/engine/Shopware/Components/Plugin/schema/config.xsd">
<elements>
    <element required="true" type="boolean" scope="shop">
        <name>backlogSyncFeature</name>
        <label lang="de">Anpassungen sofort nach Elasticsearch übertragen</label>
        <label lang="en">Push instantly changes to Elasticsearch</label>
        <value>true</value>
        <description>
            Anpassungen an Artikeln werden gleich nach Elasticsearch übertragen.
        </description>
    </element>
</elements>
</config>
